.clickable-card-wrapper {
  height: 165px; 
  cursor: pointer;
}

.clickable-card-wrapper:hover {
  transform: scale(1.015);
  transition: 0.2s all;
}
  
.g-4 .col {
  margin-bottom: 20px;
}
  
.pagination-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.card {
  max-height: 100vh;
}

.list-group-item {
  padding: 0.5rem 0;
}

.card-body {
  max-height: calc(100vh - 340px);
  overflow-y: auto;
}