.clickable-card-wrapper {
  height: 165px; 
  cursor: pointer;
}
  
.g-4 .col {
  margin-bottom: 20px;
}
  
.pagination-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.header{
  display: flex;
  justify-content: space-between;
}